{% extends 'home/base.html' %}
{% load static %}
{% block body %}
<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">Edit Teachers</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/teachers/">Teachers</a></li>
                        <li class="breadcrumb-item active">Edit Teachers</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Error and success messages -->
        {% if messages %}
        <div class="alert alert-info">
           {% for message in messages %}
              <p>{{ message }}</p>
           {% endfor %}
        </div>
        {% endif %}
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-12">
                                    <h5 class="form-title"><span>Teacher Information</span></h5>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>Name</label>
                                        <input type="text" name="name" class="form-control" value="{{ teacher.name }}">
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>Teacher Uid</label>
                                        <input type="text" name="teacher_uid" class="form-control" value="{{ teacher.teacher_uid }}">
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>Gender</label>
                                        <select name="gender" class="form-control">
                                            <option value="Female" {% if teacher.gender == 'Female' %}selected{% endif %}>Female</option>
                                            <option value="Male" {% if teacher.gender == 'Male' %}selected{% endif %}>Male</option>
                                            <option value="Others" {% if teacher.gender == 'Others' %}selected{% endif %}>Others</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>Date of Birth</label>
                                        <input type="date" name="date_of_birth" class="form-control" value="{{ teacher.date_of_birth|date:'Y-m-d' }}">
                                    </div>
                                </div>
                                
                                
                                 
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                       <label>Subject</label> 
                                       <select class="form-control selectpicker" multiple data-live-search="true" name="teacher_subj" required>
                                          <!-- <option value="">Select Class</option> -->
                                          {% for tag in teacher.t_subjects.all  %}
                                            {% for subject in subject %}
                                                {% comment %} {{ tag }} {% endcomment %}
                                                {% if tag.id == subject.id %}
                                                <option value="{{tag.id}}" selected>{{tag.title}}</option>
                                                {% else %}
                                                <option value="{{subject.id}}" >{{subject.title}}</option>
                                                {% endif %}
                                            {% endfor %}
                                             {% comment %} <option value="{{subject.id}}">{{subject.title}}</option> {% endcomment %}
                                          
                                          {% endfor %}
                                       </select>
                                    </div>
                                 </div>
                                 <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                       <label>Class</label>
                                       <select class="form-control selectpicker" multiple data-live-search="true" name="classteach" required>
                                          <!-- <option value="">Select Class</option> -->
                                          {% for teachclassroom in teacher.classrooms.all  %}
                                            {% for classrm in classroom %}
                                                {% comment %} <option value="{{classrm.id}}">{{classrm.class_name}}</option> {% endcomment %}
                                                {% if teachclassroom.id == classrm.id %}
                                                <option value="{{teachclassroom.id}}" selected>{{teachclassroom.class_name}}</option>
                                                {% else %}
                                                <option value="{{classrm.id}}" >{{classrm.class_name}}</option>
                                                {% endif %}
                                            
                                            {% endfor %}
                                          {% endfor %}
                                       </select>
                                       <!-- <select class="selectpicker" multiple data-live-search="true">
                                       <option>Mustard</option>
                                       <option>Ketchup</option>
                                       <option>Relish</option>
                                       </select> -->
                                    </div>
                                 </div>
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>Joining Date</label>
                                        <input type="date" name="joining_date" class="form-control" value="{{ teacher.joining_date|date:'Y-m-d' }}">
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>Mobile Number</label>
                                        <input type="text" name="mobile_number" class="form-control" value="{{ teacher.mobile_number }}">
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>Section</label>
                                        <input type="text" name="section" class="form-control" value="{{ teacher.section }}">
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>Teacher Image</label>
                                        <input type="file" name="teacher_image" class="form-control">
                                        <small>Current Image: {{ teacher.teacher_image.url }}</small>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>Permanent Address</label>
                                        <textarea name="permanent_address" class="form-control">{{ teacher.permanent_address }}</textarea>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'assets/js/popper.min.js' %}"></script>
<script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
<script src="{% static 'assets/js/script.js' %}"></script>
{% endblock %}
