{% extends 'home/base.html' %}
{% load static %}
{% block body %}
   
<div class="page-wrapper">
    <div class="content container-fluid">
       <div class="page-header">
          <div class="row align-items-center">
             <div class="col">
                <h3 class="page-title">Add Subjects</h3>
                <ul class="breadcrumb">
                   <li class="breadcrumb-item"><a href="{% url 'subject_list' %}">Subjects</a></li>
                   <li class="breadcrumb-item active">Add Subjects</li>
                </ul>
             </div>
          </div>
       </div>
       <div class="row">
          <div class="col-sm-12">
             <div class="card">
                <div class="card-body">
                   <form method="POST"   enctype="multipart/form-data">
                      {% csrf_token %}
                      <div class="row">
                         <div class="col-12">
                            <h5 class="form-title"><span>Subject Information</span></h5>
                         </div>
                         <div class="col-12 col-sm-6">
                            <div class="form-group">
                               <label>Title</label>
                               <input type="text" class="form-control" name="subject_title" required>
                            </div>
                         </div>
                         <div class="col-12 col-sm-6">
                            <div class="form-group">
                               <label>Title (FR)</label>
                               <input type="text" class="form-control" name = "subject_title_fren" required>
                            </div>
                         </div>
                         <div class="col-12 col-sm-6">
                            <div class="form-group">
                               <label>coef</label>
                               <input type="number" class="form-control" name = "coeff" required>
                            </div>
                         </div>
                         <div class="col-12 col-sm-6">
                            <div class="form-group">
                               <label>Subject Code</label>
                               <input type="text" class="form-control" name = "subject_code" required>
                            </div>
                         </div>
                         <div class="col-12 col-sm-6">
                            <div class="form-group">
                               <label>Class</label>
                               <select class="form-control selectpicker" multiple data-live-search="true" name="subject_class" required>
                                  <!-- <option value="">Select Class</option> -->
                                  {% for classr in classroom %}
                                     <option value="{{classr.id}}">{{classr.class_name}}</option>
                                  
                                  {% endfor %}
                               </select>
                               <!-- <select class="selectpicker" multiple data-live-search="true">
                                <option>Mustard</option>
                                <option>Ketchup</option>
                                <option>Relish</option>
                              </select> -->
                            </div>
                         </div>
                         <div class="col-12 col-sm-6">
                            <div class="form-group">
                               <label>Description</label>
                               <input type="text" class="form-control" name="description" required>
                            </div>
                         </div>
                         <div class="col-12 col-sm-6">
                            <div class="form-group">
                               <label>Category</label>
                               <select class="form-control" name="category" required>
                                  <option value="">Select Category</option>
                                  <option value="General">General Subjects</option>
                                  <option value="Professional">Professional Subjects</option>
                               </select>
                            </div>
                         </div>
                         <div class="col-12">
                            <button type="submit" class="btn btn-primary">Submit</button>
                         </div>
                      </div>
                   </form>
                </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <script src="{%static 'assets/js/jquery-3.6.0.min.js' %}"></script>
      <script src="{%static 'assets/js/popper.min.js' %}"></script>
      <script src="{%static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
      <script src="{%static 'assets/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
      <script src="{%static 'assets/js/script.js' %}"></script>
   </body>
   <!-- Mirrored from preschool.dreamguystech.com/html-template/add-student.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 28 Oct 2021 11:11:50 GMT -->
</html>
           
           

{% endblock %}
