{% extends 'home/base.html' %}
{% load static %}
{% block body %}
   
<div class="page-wrapper">
    <div class="content container-fluid">
       <div class="page-header">
          <div class="row align-items-center">
             <div class="col">
                <h3 class="page-title">Edit Subjects</h3>
                <ul class="breadcrumb">
                   <li class="breadcrumb-item"><a href="{% url 'subject_list' %}">Subjects</a></li>
                   <li class="breadcrumb-item active">Edit Subjects</li>
                </ul>
             </div>
          </div>
       </div>
       <!-- Error and success messages -->
       {% comment %} {% if messages %}
       <div class="alert alert-info">
          {% for message in messages %}
             <p>{{ message }}</p>
          {% endfor %}
       </div>
       {% endif %} {% endcomment %}
       
      <!-- Error and success messages -->
      {% if messages %}
         {% for message in messages %}
            <div class="alert {% if message.tags %} alert-{{ message.tags }}{% endif %}">{{ message|safe }}</div>
         {% endfor %}
      {% endif %}
       <div class="row">
          <div class="col-sm-12">
             <div class="card">
                <div class="card-body">
                   <form method="POST"   enctype="multipart/form-data">
                      {% csrf_token %}
                      <div class="row">
                         <div class="col-12">
                            <h5 class="form-title"><span>Subject Information</span></h5>
                         </div>
                         <div class="col-12 col-sm-6">
                            <div class="form-group">
                               <label>Title</label>
                               <input type="text" class="form-control"  name="subject_title" value="{{ subject.title }}" required>
                            </div>
                         </div>
                         <div class="col-12 col-sm-6">
                            <div class="form-group">
                               <label>Title (FR)</label>
                               <input type="text" class="form-control"  name="subject_title_fren" value="{{ subject.fr_title }}" required>
                            </div>
                         </div>
                         <div class="col-12 col-sm-6">
                            <div class="form-group">
                               <label>Coef</label>
                               <input type="number" class="form-control"  name="coeff" value="{{ subject.coef }}" required>
                            </div>
                         </div>
                         <div class="col-12 col-sm-6">
                            <div class="form-group">
                               <label>Subject Code</label>
                               <input type="text" class="form-control" name = "subject_code" value="{{ subject.subject_code }}" required>
                            </div>
                         </div>
                         
                         <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label>Specialty</label>
                              <select class="form-control selectpicker" multiple data-live-search="true" name="specialty[]" >
                                 <!-- <option value="">Select Class</option> -->
                                 {% comment %} {% for specialty in specialty %}
                                    <option value="{{specialty.id}}">{{specialty.name}}</option>
                                 
                                 {% endfor %} {% endcomment %}
                                 
                                 {% if subject.specialty.all %}
                                    {% for sujspecly in subject.specialty.all  %}
                                       {% for specialty in specialty %}
                                          {% comment %} {{ sujspecly }} {% endcomment %}
                                          {% if sujspecly.id == specialty.id %}
                                          <option value="{{sujspecly.id}}" selected>{{sujspecly.name}}</option>
                                          {% else %}
                                          {% comment %} <option value="{{specialty.id}}" >{{specialty.name}}</option> {% endcomment %}
                                          {% endif %}
                                       {% endfor %}
                                       {% comment %} <option value="{{subject.id}}">{{subject.title}}</option> {% endcomment %}
                                    
                                    {% endfor %}
                                 {% else %}
                                 {% endif %}
                              </select>
                           </div>
                        </div>
                         {% comment %} <div class="col-12 col-sm-6">
                            <div class="form-group">
                               <label>Specialty</label>
                               <select class="form-control" name="specialty" required>
                                  <option value="">Select Specialty</option>
                                  {% for classr in specialty %}
                                    <option value={{classr.id}}
                                    
                                        {% if subject.specialty.id == classr.id %}
                                        selected
                                        {% endif %} 
                                        >
                                        {{classr.name}}
                                    </option>
                                
                                {% endfor %}
                               </select>
                            </div>
                         </div> {% endcomment %}
                         <div class="col-12 col-sm-6">
                            <div class="form-group">
                               <label>Class</label>
                               
                               <select class="form-control selectpicker" multiple data-live-search="true" name="subject_class[]" required>
                                  <!-- <option value="">Select Class</option> -->
                                          
                                          {% for classr in classroom %}
                                          {% comment %} {% if classr.id == subject.classroom.id %}
                                             <option value={{classr.id}} selected >
                                                {{classr.class_name}}
                                                
                                             </option>
                                          {% else %}
                                             <option value="{{classr.id}}">{{classr.class_name}}</option>
                                          {% endif %} {% endcomment %}
                                          {% for team in mysubject_class %}
                                            {% if classr.id == team.id %}
                                            <option value={{classr.id}} selected >
                                                {{team.class_name}}
                                                
                                            </option>
                                            
                                            {% endif %}
                                             
                                          {% endfor %} 
                                          
                                          {% endfor %}
                                        </select>
                               <!-- <select class="selectpicker" multiple data-live-search="true">
                                <option>Mustard</option>
                                <option>Ketchup</option>
                                <option>Relish</option>
                              </select> -->
                            </div>
                         </div>
                         <div class="col-12 col-sm-6">
                            <div class="form-group">
                               <label>Description</label>
                               <input type="text" class="form-control" name="description" value="{{ subject.description }}" required>
                            </div>
                         </div>
                         <div class="col-12 col-sm-6">
                             <div class="form-group">
                                 <label>Category</label>
                                 <select name="category" class="form-control">
                                     <option value="General" {% if subject.category == 'General' %}selected{% endif %}>General Subjects</option>
                                     <option value="Professional" {% if subject.category == 'Professional' %}selected{% endif %}>Professional Subjects</option>
                                 </select>
                             </div>
                         </div>
                         <div class="col-12">
                            <button type="submit" class="btn btn-primary">Submit</button>
                         </div>
                      </div>
                   </form>
                </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>
            <script src="{% static 'assets/js/popper.min.js' %}"></script>
            <script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
            <script src="{% static 'assets/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
            <script src="{% static 'assets/js/script.js' %}"></script>
           
           

{% endblock %}
